@page "/profiles-list"
@using GmlAdminPanel.Models.Hierarchy

<PageTitle>ProfilesList</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="Profiles" TextStyle="TextStyle.H3" TagName="TagName.H1"/>
        <RadzenRow>
            <RadzenColumn>

                <RadzenDataGrid TItem="Models.GmlApi.GetProfileDto" Data="@getProfileDtos" @bind-value="@SelectedProfiles" ColumnWidth="200px" AllowSorting="true" AllowFiltering="true" SelectionMode="Radzen.DataGridSelectionMode.Single" AllowRowSelectOnRowClick="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="GmlAdminPanel.Models.GmlApi.GetProfileDto" Property="Name" Title="Name"/>
                        <RadzenDataGridColumn TItem="GmlAdminPanel.Models.GmlApi.GetProfileDto" Property="LaunchVersion" Title="LaunchVersion"/>
                        <RadzenDataGridColumn TItem="GmlAdminPanel.Models.GmlApi.GetProfileDto" Property="GameVersion" Title="GameVersion"/>
                    </Columns>
                </RadzenDataGrid>
            </RadzenColumn>

        </RadzenRow>

        @if (SelectedProfiles?.Any() == true)
        {
            <RadzenRow class="mt-3">
                <RadzenColumn>
                    @if (SelectedProfiles?.Any() == true)
                    {
                        <RadzenCard>
                            <RadzenRow>
                                <RadzenColumn>
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center" Gap="5">

                                        <RadzenStack Visible="ProfileInfo == null">

                                            <div class="spinner-border spinner-border-sm" role="status">
                                                <span class="visually-hidden">Загрузка...</span>
                                            </div>
                                        </RadzenStack>
                                        <RadzenText Text="Profile"/>

                                    </RadzenStack>

                                </RadzenColumn>
                                <RadzenColumn>
                                    <RadzenStack Orientation="Orientation.Horizontal"
                                                 JustifyContent="JustifyContent.End"
                                                 AlignItems="AlignItems.End">
                                        <RadzenButton Icon="refresh" Click="LoadAdditionalData" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark"/>
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenText Text="@SelectedProfiles[0].Name" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" Style="margin-top: 8px"/>

                            <RadzenRow Style="margin-top: 10px" Visible="!(ProfileInfo == null)">
                                <RadzenColumn class="d-flex flex-column align-items-center justify-content-center">
                                    <RadzenStack Visible="@IsPackaging" Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center">

                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">Загрузка...</span>
                                        </div>
                                        <RadzenText Text="Packaging..."/>

                                    </RadzenStack>
                                    <RadzenButton Style="width: 100%; visibility: visible" Text="Package profile" Click="@PackageSelectedProfile" Visible="(IsPackaging == false)" Icon="archive"/>
                                </RadzenColumn>

                                <RadzenColumn class="d-flex align-items-end">
                                    <RadzenButton Style="width: 100%" ButtonStyle="Radzen.ButtonStyle.Light" Text="for Windows" Click="@LoadAdditionalDataWindows" Icon="get_app">
                                    </RadzenButton>
                                </RadzenColumn>
                                <RadzenColumn class="d-flex align-items-end">
                                    <RadzenButton Style="width: 100%" ButtonStyle="Radzen.ButtonStyle.Light" Text="for Linux" Click="@LoadAdditionalDataLinux" Icon="get_app">
                                    </RadzenButton>
                                </RadzenColumn>
                                <RadzenColumn class="d-flex  align-items-end">
                                    <RadzenButton Style="width: 100%" ButtonStyle="Radzen.ButtonStyle.Light" Text="for OsX" Click="@LoadAdditionalDataMacOs" Icon="get_app"></RadzenButton>
                                </RadzenColumn>
                                <RadzenColumn class="d-flex flex-column align-items-center justify-content-center">
                                    <RadzenStack Visible="@IsRemoving" Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center">

                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">Загрузка...</span>
                                        </div>
                                        <RadzenText Text="Removing..."/>

                                    </RadzenStack>
                                    <RadzenButton Style="width: 100%;" Text="Remove profile" Click="@RemoveSelectedProfile" ButtonStyle="Radzen.ButtonStyle.Danger" Visible="(IsRemoving == false)" Icon="delete"/>
                                </RadzenColumn>
                            </RadzenRow>

                        </RadzenCard>
                    }
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow class="mt-3">
                <RadzenCard class="w-100">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center" Gap="5">

                        <RadzenStack Visible="ProfileInfo == null">

                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Загрузка...</span>
                            </div>
                        </RadzenStack>
                        <RadzenText Text="Files"/>

                    </RadzenStack>

                    <RadzenRow class="mt-3" Visible="!(ProfileInfo == null)">
                        <RadzenColumn>
                            <RadzenDataGrid @ref="grid"
                                            AllowFiltering="true"
                                            AllowSorting="true"
                                            AllowColumnResize="true"
                                            Data="@Directories"
                                            TItem="GmlAdminPanel.Models.Hierarchy.Node"
                                            RowRender="@RowRender"
                                            LoadChildData="@LoadChildData"
                                            RowCollapse="@(args => grid.ColumnsCollection.ToList().ForEach(c => c.ClearFilters()))">
                                <Columns>
                                    <RadzenDataGridColumn TItem="GmlAdminPanel.Models.Hierarchy.Node" Property="Name" Title="File"/>
                                    <RadzenDataGridColumn TItem="GmlAdminPanel.Models.Hierarchy.Node" Title="Action" Frozen="true" Sortable="false" Filterable="false" Width="300px">
                                        <Template Context="file">
                                            <RadzenButton ButtonStyle="ButtonStyle.Light"
                                                          Visible="(file is FileNode fileNode && string.IsNullOrEmpty(fileNode.CurrentFile.Hash) == false && ProfileInfo.WhiteListFiles.All(c => c.Name != file.Name))"
                                                          Click="@(eventArgs => AddFileToWhiteList((file as FileNode)?.CurrentFile))"
                                                          Size="ButtonSize.Small"
                                                          Text="Add to whitelist">
                                            </RadzenButton>
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenDataGrid TItem="GmlAdminPanel.Models.GmlApi.File" Data="@ProfileInfo?.WhiteListFiles">
                                <Columns>
                                    <RadzenDataGridColumn TItem="GmlAdminPanel.Models.GmlApi.File" Property="Name" Title="Not check files"/>
                                    <RadzenDataGridColumn TItem="GmlAdminPanel.Models.GmlApi.File" Title="Action" Frozen="true" Sortable="false" Filterable="false" Width="300px">
                                        <Template Context="file">
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                                          Click="@(eventArgs => RemoveFileFromWhiteList(file))"
                                                          Size="ButtonSize.Small"
                                                          Text="Remove from whitelist">
                                            </RadzenButton>
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>
                            <RadzenText Text="Files in this list will not be forcibly updated on the client side" class="mt-3" TextStyle="Radzen.Blazor.TextStyle.Caption"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>

            </RadzenRow>
        }

    </RadzenColumn>
</RadzenRow>
