@page "/Profiles/{ProfileName}"
@using Gml.Web.Client.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Profile info | @ProfileName</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4" bis_skin_checked="1">
    <div class="d-block mb-4 mb-md-0" bis_skin_checked="1">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="/">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="/Profiles">Profiles List</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ProfileName</li>
            </ol>
        </nav>
        <h2 class="h4 mb-0">Profile info</h2>
    </div>
</div>

@if (Profile != null)
{
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12">
            <div class="card shadow border-0 text-center p-0 overflow-hidden position-relative">
                <div class="profile-cover rounded- bg-gray-800" data-background="../assets/img/profile-cover.jpg"></div>

                <span class="badge bg-gray-700 position-absolute top-0 p-2" style="right: 0; margin: 20px">@Profile.ClientVersion</span>
                <div class="card-body pb-5" bis_skin_checked="1">
                    <img src="data:image/jpeg;base64,@Profile.IconBase64" class="avatar-xl rounded-circle mx-auto mt-n7 mb-2" alt="Neil Portrait">
                    <h4 class="h3 mb-4">
                        @if (IsProcessing)
                        {
                            <div class="spinner-grow spinner-grow-sm mb-1 text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        }
                        <span class="px-3">@Profile.ProfileName</span>
                    </h4>
                    @if (!IsProcessing)
                    {
                        <button @onclick="PackProfileCommand" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                            <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
                            </svg> Pack profile
                        </button>

                        <div class="btn-group" bis_skin_checked="1">
                            <button type="button" class="btn btn-secondary" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">Download</button>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg> <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuReference" style="">
                                <li>
                                    <button class="dropdown-item rounded-top" @onclick="DownloadWindowsCommand">for windows</button>
                                </li>
                                <li>
                                    <button class="dropdown-item" @onclick="DownloadLinuxCommand">for linux</button>
                                </li>
                                <li>
                                    <button class="dropdown-item" @onclick="DownloadOsxCommand">for osx</button>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item rounded-bottom disabled">for all systems</a>
                                </li>
                            </ul>
                        </div>
                    }

                    @if (IsProcessing)
                    {
                        <div class="progress mt-3" role="progressbar" style="height: 15px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: @ProgressPercentage%;">@ProgressPercentage%</div>
                        </div>
                    }
                </div>


            </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-12">
            <div class="card card-body shadow border-0">
                <div class="row">
                    <div class="col-xl-4 col-md-12">
                        <div class="mb-3" bis_skin_checked="1">
                            <label class="form-label">Icon</label>
                            <InputFile id="imageUpload" OnChange="@UploadImage" class="form-control" type="file" accept=".png,.jpg,.ico"/>
                        </div>

                    </div>
                    <div class="col-xl-4 col-md-12">
                        <label for="proileName">Name</label>
                        <div class="input-group" bis_skin_checked="1">
                            <span class="input-group-text">
                                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <InputText @bind-Value="UpdateProfileDto.Name" data-datepicker="" class="form-control datepicker-input" id="profileName" type="text" required=""/>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <label>Description</label>
                        <div class="input-group" bis_skin_checked="1">
                            <span class="input-group-text">
                                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <InputTextArea @bind-Value="UpdateProfileDto.Description" data-datepicker="" class="form-control datepicker-input" id="profileName" type="text" required=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 d-flex gap-3 justify-content-end align-items-end">
                <button @onclick="OpenFileManager" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                    <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
                    </svg> File manager
                </button>
                <button @onclick="SaveChangesCommand" href="Profiles" class="btn btn-block btn-secondary">Save changes</button>
            </div>
        </div>
    </div>
    <div class="mt-3 d-flex gap-3 justify-content-start align-items-start">

        <a href="Profiles" class="btn btn-block btn-primary">Go back</a>
    </div>
}
else
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
